
    .square-box {
        position: absolute;
        width: 85%;
        height: 85%;
        overflow: hidden;
        background: darkgreen;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 200px;
        border: 10px solid black;


    }

    .square-box:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .square-content {
        position: absolute;
        font-size: 48pt;
        opacity: .3;
        left: 35%;
        top: 40%;
        color: white;
        width: 100%;
        height: 100%;

    }

    .square-content div {
        display: table;
        width: 100%;
        height: 100%;
    }

    .square-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white
    }

.players {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;

}

.players .player {
    position: absolute;
}
.players .player.player-1 {
    top: 6%;
    left:50%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-2 {
    top: 6%;
    left: 80%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-3 {
    top: 45%;
    left: 93%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-4 {
    top: 88%;
    left: 80%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-5 {
    top: 88%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player.player-6 {
    top: 88%;
    left: 20%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-7 {
    top: 45%;
    left: 7%;
    transform: translatex(-50%) translatey(-50%);
}

.players .player.player-8 {
    top: 6%;
    left: 20%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player .avatar {
    width: 15vh;
    height: 15vh;
    background-color: lightcoral;
    border-radius: 100%;
    position: relative;
    top: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5vw;
}

#main{
    position: absolute;
        width: 80%;
        height: 60%;
        /*overflow: none;*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;


}

