
.square-box {
     position: relative;
     width: 85%;
     height: 85%;
     background: darkgreen;

     left: 0;
     right: 0;
     top: -95%;
     bottom: 0;
     margin: auto;
     border-radius: 200px;
     border: 10px solid black;
    }

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.players {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.players .player {
    position: absolute;
}
.players .player-1 {
    top: 6%;
    left: 30%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player-2 {
    top: 6%;
    left: 70%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player-3 {
    top: 45%;
    left: 93%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player-4 {
    top: 88%;
    left: 70%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player-5 {
    top: 88%;
    left: 30%;
    transform: translatex(-50%) translatey(-50%);
}
.players .player-6 {
    top: 45%;
    left: 7%;
    transform: translatex(-50%) translatey(-50%);
}
.players .avatar {
    width: 13vh;
    height: 13vh;
    background-color: lightcoral;
    border-radius: 100%;
    position: relative;
    top: 20px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.7vw;
}
.cards .cards_player-1 {
    position: absolute;
    top: -25%;
    left: 15%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .cards_player-2 {
    position: absolute;
    top: -25%;
    left: 55%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .cards_player-3 {
    position: absolute;
    top: 10%;
    left: 107%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .cards_player-4 {
    position: absolute;
    top: 118%;
    left: 85%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .cards_player-5 {
    position: absolute;
    top: 118%;
    left: 45%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .cards_player-6 {
    position: absolute;
    top: 80%;
    left: -7%;
    transform: translatex(-50%) translatey(-50%);
}
.cards .ava_cards{
    width: 21vh;
    height: 21vh;
    background-color: lightcoral;
    border-radius: 10%;
    position: relative;
    z-index: 1;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5vw;
}
.block_cards{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 65%;
}
.block_cards img{
    width: 45%;
    height: 95%;
}
.chips{
    position: absolute;
    top: 70%;
    width: 90%;
}
.table_block {
    position: relative;
    width: 50%;
    top: -135%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5vw;
}
.cards_on_table{
    position: relative;
    display: inline-block;
}
.action_block, .start_block, .bet_ask_block{
    position: absolute;
    width: 20%;
    top: 70%;
    left: 120%;
    transform: translatex(-50%) translatey(-50%);
    z-index: 3;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
}
.dealer_button_1 {
    position: absolute;
    top: 15%;
    left: 35%;
}
.dealer_button_2 {
    position: absolute;
    top: 15%;
    left: 75%;
}
.dealer_button_3 {
    position: absolute;
    top: 35%;
    left: 85%;
}
.dealer_button_4 {
    position: absolute;
    top: 73%;
    left: 62%;
}
.dealer_button_5 {
    position: absolute;
    top: 73%;
    left: 22%;
}
.dealer_button_6 {
    position: absolute;
    top: 27%;
    left: 10%;
}
.block_win {
    position: absolute;
    left: 50%;
    top:80%;
    background: #fcbf28;
    transform: translatex(-50%) translatey(-50%);
    z-index: 2;

    border-radius: 10%;

    align-items: center;
    justify-content: center;
    text-align: center;

    border: 10px double lightyellow;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
}
.win_text {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 2vw;
    z-index: 3;
    left: 50%;
    top:82%;
    transform: translatex(-50%) translatey(-50%);
}

.end_button_next {
    position: absolute;
    transform: translatex(-50%) translatey(-50%);
    left: 66%;
    top: 80%;
    z-index: 6;
}

.end_button_final {
    position: absolute;
    transform: translatex(-50%) translatey(-50%);
    left: 34%;
    top: 80%;
    z-index: 6;
}

#main{
    position: absolute;
    width: 60%;
    height:45%;
    margin: auto;
    left: 0;
    right: 0;
    top: 9%;
    bottom: 0;
}


